/AmexIcePicker/Amex.IcePicker/Amex.IcePicker.csproj.user
/AmexIcePicker/Amex.IcePicker/bin/Debug/*.dll
/AmexIcePicker/Amex.IcePicker/bin/Debug/*.pdb
/AmexIcePicker/Amex.IcePicker/obj/Debug/Amex.IcePicker.csproj.FileListAbsolute.txt
/AmexIcePicker/Amex.IcePicker/obj/Debug/Amex.IcePicker.dll
/AmexIcePicker/Amex.IcePicker/obj/Debug/Amex.IcePicker.pdb
/AmexIcePicker/Amex.IcePicker/obj
/AmexIcePicker/AmexIcePickerWebservices/AmexIcePickerWebservices.csproj.user
/AmexIcePicker/AmexIcePickerWebservices/bin
/AmexIcePicker/AmexIcePickerWebservices/obj
/AmexIcePicker/AmexIcePicker.sln
/AmexIcePicker/AmexIcePicker.suo
/AmexIcePicker/Amex.IcePicker/bin
