<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="OgilvyOnePlatform">
      <section name="Generic" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="EmailSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="SiteSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="AuthCredentials" type="Amex.IcePicker.Configuration.AuthCredentialsSection, Amex.IcePicker"/>
    </sectionGroup>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <dataConfiguration defaultDatabase="DbClientConnectionString"/>
  <connectionStrings>
    <add name="DbClientConnectionString" connectionString="Data Source=78.136.27.177;Initial Catalog=AmexIcePickerPlatform;Persist Security Info=True;User ID=AmexIcePickerPlatform_User;Password=cNVo!!|7RHy" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <OgilvyOnePlatform>
    <Generic/>
    <EmailSettings>
      <add key="EnableSsl" value="true"/>
      <add key="NetworkCredentialUsername" value="teresateste04@gmail.com"/>
      <add key="NetworkCredentialPassword" value="t2r2sact2st204"/>
    </EmailSettings>
    <SiteSettings>
      <add key="SiteUrl" value="http://platform.ogilvyeurope.com/"/>
    </SiteSettings>
    <AuthCredentials>
      <AuthCredentials>
        <AuthCredential clientid="Amex-IcePicker" authkey="0c8aef2a8f840f5b8e1237f736f46ec7"/>
      </AuthCredentials>
    </AuthCredentials>
  </OgilvyOnePlatform>
  <appSettings>
    <add key="ConnectionString" value="Data Source=78.136.27.177;Initial Catalog=AmexIcePickerPlatform;Persist Security Info=True;User ID=AmexIcePickerPlatform_User;Password=cNVo!!|7RHy"/>
    <add key="URL" value="http://platform.ogilvyeurope.com/"/>
    <add key="PhysicalPathtoWebsite" value="C:\Sites\OGILVY_platform.ogilvyeurope.com\"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="10703;True;-1;1;0"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="2;web.config.backup"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="teresateste04@gmail.com">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" password="t2r2sact2st204" userName="teresateste04"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="1048576"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>